<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="border p-3 rounded-3">
        <div class="row g-0">
            <div class="col text-center bg-light p-2 mb-3">
                <h1>
                    Login
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3 ps-4">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email">
                <div *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)" class="form-text text-danger">
                    This field is required.</div>
                <div *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)" class="form-text text-danger">
                    Invalid Email!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3 ps-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)" class="form-text text-danger">This field is required.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 mb-3 ps-4">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-3">
                <span class="me-2">Don't have an account?</span>
                <a routerLink="/register" routerLinkActive="active">Register</a>
            </div>
        </div>
    </form>
</div>