<div class="container">
    <div class="container-sub" [style.top]="topValue" [style.left]="leftValue">
        <button class="btn btn-primary" (click)="onPrevious()">Previous</button>
        <button class="btn btn-secondary" (click)="onNext()">Next</button>
    </div>
 <header class="header">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem provident voluptatum illo. Alias distinctio dignissimos neque, quibusdam optio facere, nisi ipsum eius aliquid corrupti cumque doloremque vero officia dolor tempora! Soluta possimus quaerat voluptatem?
 </header>
 <section class="section">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nemo dolorem dolor provident rem laborum nam ea? Accusantium expedita veritatis aliquam impedit ratione ad dolor? Cum accusantium, labore aliquid expedita repudiandae praesentium dicta obcaecati vero nisi maxime incidunt veniam minima eos omnis dolores architecto in porro repellendus sint quaerat magni laudantium voluptatibus. Quidem veniam sint, blanditiis similique hic aspernatur, reprehenderit odio eveniet cupiditate sit non repellat libero consectetur delectus! Numquam itaque dolor aperiam delectus! Culpa corrupti eos asperiores? Doloribus facere accusamus vero atque accusantium itaque veniam, ad reiciendis ipsa, dolorum reprehenderit aspernatur inventore suscipit, minus quae voluptatibus delectus voluptate dolor!
 </section>
 <footer class="footer">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste modi praesentium officiis velit saepe esse provident dolor mollitia ratione ex!
 </footer>
</div>
